.add-note-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4fbff;
    border: 3px solid #4b79ab;
    border-radius: 20px;    
    padding: 1.5rem;
    width: 50%;
    min-height: 50%;
}

@media only screen and (max-width: 768px) {
    .add-note-box{        
        width: 75%;
        min-height: 60%;
        max-height: 90%;
    }

    .images-container{
        max-height: 130px !important;
    }
}

@media only screen and (max-width: 375px) {
    .add-note-box{        
        width: 78%;
        min-height: auto;
        max-height: 85%;
    }

    .images-container{
        max-height: 110px !important;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 320px) {   

    .images-container{
        max-height: 100px !important;        
        overflow-y: scroll;
    }
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.new-margins {
    margin-bottom: 1rem;
}

.swal2-container {
    z-index: 2000;
}

.images-container{
    position: relative;
    width: 100%;
    max-height: 170px;  
    overflow-y: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem;
}