.container-sign-in {
    display: flex;
    position: relative;
    height: 100vh;
}

.form-container {
    margin: auto;
    height: 15rem;
    width: 23rem;
    padding-top: 1.8rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 4px solid #a8a8a8;
    border-radius: 20px;
    background-color: #fffffe;
    text-align: center;
}

h3 {
    color: rgb(93, 126, 215);
    padding-bottom: 0.9rem;
}

.txt {
    width: 100%;
}


.login-form{
    padding-bottom: 1rem;
}

.sign-up-link{
    display: block;
    padding-top: 2rem;
    font-size: small;
    text-align: end;
    color: #1d6db4;
}

.sign-up-link:hover{
    color: #333c5a;
    font-weight: 500;
}

.login-btn{
    display: block;
    width: 100%;    
}
