.container-login {
    display: flex;
    position: relative;
    height: 100vh;
}

.form-container-login {
    margin: auto;
    height: auto;
    width: 23rem;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 4px solid #777777;
    border-radius: 20px;
    background-color: #fffffe;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .form-container-login {
        width: 90vw;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        border: 2px solid #8a8c8e;
    }
}

.login-title {
    color: #545559;
    padding-bottom: 0.9rem;
}

.txt {
    width: 100%;
}


.login-form {
    padding-bottom: 1rem;
}

.sign-up-link {
    display: block;
    font-size: small;
    text-align: center;
    color: #1d6db4;
}

.sign-up-link:hover {
    color: #333c5a;
    font-weight: 500;
}

.login-btn {
    display: block;
    width: 100%;

}

.login-btn-container {
    margin-bottom: 1rem;
}