*{
    margin: 0;
}

.header{    
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #dbf4ff;
    text-align: center;
    padding-bottom: 0.5rem;
}

h2{
    color: #7d80a6;
    padding: 0.3rem;
}

.note-icon{
    margin-right: 0.5rem;
    margin-left: -0.4rem;
}

.search{
    width: 50%;    
}

.btn-contain{
    margin-top: 0.5rem;
}

.signed-user-div{
    position: absolute;
    right:0.3rem;
    top: 0.3rem;
    padding: 0.2rem;
}

.username-txt{
    display: block;
}

.log-out-btn{
    display: block;
    height: 1.6rem;
}