.update-note-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e3e3e3;
    border: 3px solid #353535;
    border-radius: 20px;    
    padding: 1.5rem;
    width: 50%;
    min-height: 50%;
}

@media only screen and (max-width: 600px) {
    .add-note-box{        
        width: 80vw;
        min-height: 70%;
    }
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.new-margins{
    margin-bottom: 1rem;
}

.swal2-container {
    z-index: 2000;
}